
.imgcontainer{
    width: 100%;
    height:450px;
    display: flex;

}
.imgbox{
    height: 100%;
    width: 55%;
    background-color: #f5fafd;
    opacity: .6;
    
}
.img{
    height: 100%;
    width: 100%;
    

}
.imgcontent{
    height: 100%;
    width: 45%;
    background-color: #f5fafd;
    opacity: .8;
    
}
.h111{
   position: relative;
   top: 100px;
   left: 18%;
   font-size: 45px;
  letter-spacing: 2px;
   color: black;
   z-index: 11;
   width: 73%;
    font-family: 'Urbanist', sans-serif; 

  
}
.p111{
    margin: 50px 0px;
    font-size: 18px;
    font-weight: 400;
    -webkit-letter-spacing: 3px;
    -moz-letter-spacing: 3px;
    -ms-letter-spacing: 3px;
    letter-spacing: 3px;
    position: relative;
    top: 70px;
    width: 60%;
    left: 19%;
}
.btn1{
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 50px;
    left: 19%;
}


@media (min-width: 320px) and (max-width: 480px) {
    .imgcontainer{
        width: 100%;
        height:450px;
        display: block;
        margin-top: 25px;
    
    }
    .imgbox{
        height: 100%;
        width: 100%;
        background-color: #f5fafd;
        opacity: .6;
        
    }
    .img{
        height: 100%;
        width: 100%;
        border-radius: 20px;
        
    
    }
    .imgcontent{
        height: 100%;
        width: 100%;
        background-color: #f5fafd;
        opacity: .9;
        
    }
    .h111{
       position: relative;
       top: 100px;
       left: 10%;
       font-size: 30px;
      letter-spacing: 2px;
       color: black;
       z-index: 11;
       width: 85%;
        font-family: 'Urbanist', sans-serif; 
    
      
    }
    .p111{
        margin: 50px 0px;
        font-size: 15px;
        font-weight: 400;
        -webkit-letter-spacing: 3px;
        -moz-letter-spacing: 3px;
        -ms-letter-spacing: 3px;
        letter-spacing: 3px;
        position: relative;
        top: 70px;
        width: 60%;
        left: 10%;
    }
    .btn1{
        padding: 10px;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        top: 70px;
        left: 10%;
    }
}
